.password-strength-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strength-indicator {
  display: flex;
  margin-top: 10px;
}

.strength-indicator div {
  width: 30px;
  height: 10px;
  margin: 0 2px;
  background-color: gray;
}

.strength-indicator .weak {
  background-color: red;
}

.strength-indicator .medium {
  background-color: yellow;
}

.strength-indicator .strong {
  background-color: green;
}
