<div class="container">
    <div class="card" #card>
        <h1 class="signup-heading">Sign Up</h1>
        <div class="input-wrapper" [formGroup]="form">
            <app-input formControlName="username" placeholder="Username"></app-input>
            <app-input formControlName="email" placeholder="Email"></app-input>
            <app-password-strength formControlName="password"></app-password-strength>
        </div>
        <div class="container-button">
            <button class="btn"><a href="#">Sign Up</a></button>
        </div>
    </div>
</div>